#map_canvas

- content_for :script do 
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"
  :javascript

    $(document).ready(function() {      

      // Init the map with centering on lat, lng and zoomlevel 
      map = initmap(#{lat}, #{lng}, 13);

      // Add all the branches of all restaurants as a markers on the map      
      $.getJSON('/restaurants.json', function(restaurants) {
        $.each(restaurants, function(key, restaurant) {
                      
          $.each(restaurant.branches, function(key, branch) {
            var markerContent = "<a href=\"" + $(location).attr('href') + "/" + restaurant.id + "\">" + restaurant.name + "</a><br>" + 
              branch.street_address + "<br>" +
              branch.city;
            if (branch.business_hours) {
              markerContent = markerContent + "<br>" + branch.business_hours;
            }
            
            var infowindow = new google.maps.InfoWindow({
              content: markerContent
            });            
            
            var marker = addRestaurantMarker(map, branch.latitude, branch.longitude, restaurant.name);                             
            addListenerToMarker(map, marker, infowindow);
            
          });
          
        });                
      });
    });