.restaurant_short
  %ul
    %li
      = link_to rest.name, rest
    %li.address
      - unless rest.branches.empty?
        = rest.branches[0].street_address + ", " + rest.branches[0].city
        =  ", .. " if rest.branches.count > 1
    %li
      =truncate(rest.info, :length => 100, :omission => '...')
    %li
      =image_tag("comments.png", :alt => t('restaurants.comments'))
      = rest.comments.count
