// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.restaurant-contact-info {
  .contact-details {
    float:left;
    width:33%;
  }	
}

html body div#content.content div.five-restaurant-list {
  overflow: auto;
}

html body div#content.content div.five-restaurant-list div.restaurant_short {
  width: 200px;
  float:left;
  //display: inline;
  list-style-type: none;
  padding-right: 20px;
}  

div.restaurant_short {
  width: 200px;
  float:left;
  //display: inline;
  list-style-type: none;
  padding-right: 20px;
}  


li.address {
  color: #999999;
  font-weight: normal;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 11px;  
}

.five-restaurant-list hr, .restaurants-alphabetically hr {
  color: #eee;
  height: 1px;
  background-color: #eee;
  width: 100%;   
  margin-bottom: 12px;  
  overflow: auto;
}

#footer div.hr {
  color: #c6cece;
  height: 1px;
  padding: 0px;
  margin: 0px;
  background-color: #c6cece;
  width: 680px;
  margin: 15px 0px 15px 80px;   
    
}

div.restaurants-alphabetically {
  overflow: auto;  
}

span.abc_letter {
  color: #EB4600;
  padding-right: 20px;
  font-weight: bold;
}

span.abc_restaurant_count {
  color: #999999;
  font-weight: normal;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 11px;
}

img.arrow {
  float: right;
  vertical-align: bottom;  
}

html body div#content.content div.restaurants-alphabetically div.restaurant-letter {
  padding-bottom: 10px;
  cursor: pointer;
}

.full_list {
  display: none;
}

.abc_active {
  //background-color: #EB4600;
  //opacity: 0.9;
}

